$font: 'Source Sans Pro', sans-serif;
$color: #506a85;
$color_title: #ffffff;
$color_text: #a3b1bf;
$color_dark_white: #f2f5f7;
$font_title: 'Lato', sans-serif;
$color_green: #00bc9c;
$color_green_dark: #00a085;
$padding_top_bottom: (63px - 13px) / 2;
$size_title: 44px;
$size_text: 22px;
$color_text_grey: #73879c;
$color_grey_border: #e6e9ed;
$color_footer_bottom: #4e5c6c;
$color_footer: #2f4052;
$color_footer_ending: #283645;
$color_footer_text: #707e8c;
$border: 3px 3px 3.5px 3.5px;
$modal_window_background_bottom: rgba(226, 231, 236, 0.5);
$modal_window_background: rgba(242, 245, 247, 0.8);
$arrow_background: rgba(73, 99, 126, 0.8);